* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #f1f6f1;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}












/* ANIMATIONS */



.animated {
  opacity: 0;
  transform: translateX(100%);
  animation: slideInFromRight 1s forwards;
}

@keyframes slideInFromRight {
  to {
      opacity: 1;
      transform: translateX(0);
  }
}
@keyframes fade {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}



/* ANIMATIONS */
