.CreateForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &__container {
    width: 50px;
  }
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-family: var(--font-space-grotesk);
  margin-bottom: 20px;
  padding-top: 48px;
}

.dropdown {
  margin: 10px 0px;
}

.nb-input {
  border: 1px solid #000 !important;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  form {
    gap: 0px;
  }
}

.nb-button {
  align-self: center;
  width: fit-content;
  margin: 10px 0px;
}

.nb-input {
  margin: 10px 0px;
}

.modal {
  height: 365px;
}

.alert.success {
  font-size: 16px;
  padding: 0.5rem;
}

.alert.error {
  font-size: 16px;
  padding: 0.5rem;
}