.edit-task {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    &__input {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding: 0 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.edit-task__buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}	

label {
    font-size: 1.1rem;
    padding: 10px;
}
