.dashboard{

    h1{
        text-align: center;
        font-size: 3rem;
        font-family: var(--font-space-grotesk);
        padding-top: 48px;
    }
}

.dashboard h2{
    text-align: center;
    font-size: 2rem;
    font-family: var(--font-space-grotesk);
    padding-top: 48px;
    margin-bottom: 24px;
    
}

.dashboard__checklists{

    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        list-style: none;
        padding: 0;
        margin: 0;

        a{
            font-family: var(--font-space-grotesk);
            font-weight: 400;
            color: #414141;
        }
    }
}

.dashboard__checklist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
    
    a{
        font-family: var(--font-space-grotesk);
        font-weight: 400;
        color: #414141;
    }
}